.row{
    margin-top: 40px;
    width: 600px;
    background-color: rgb(199, 152, 22);
    // border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .range{
        width: 300px;
    }
}